html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial, Verdana, sans-serif;
}


.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  display: block;
  margin-bottom: 50px;
}

.menu {
  margin-bottom: 50px;
}

.menu-link {
  display: inline-block;
  padding: 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.menu-link:not(:last-child) {
  margin-right: 25px;
}

.link-download {
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  padding-left: 25px;
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}


.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

h1, h2, h3, p, ul, figure {
  margin:0;
}

.head-1 {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.text {
  width: 872px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.accents {
  padding: 50px 95px;
  width: 100%;
  border-radius: 20px;
  font-weight: 700;
  font-size: 30px;
  color: white;
  background-color: #3f2aff;
}

.grey-block {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.grey-block:not(:last-child) {
  margin-bottom: 40px;
}

.grey-block .text {
  width: 692px;
  margin-bottom: 10px;
}

.grey-block .text:last-child {
  margin-bottom: 0;
}

.content {
  background-image: url('../img/decorate-1.png');
}

.total {
  background-image: url('../img/decorate-2.png');
}

.head-2, .head-3 {
  margin-bottom: 10px;
}

.head-2 {
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.head-3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.list {
  padding-left: 15px;
}

.list-item:not(:last-child) {
  margin-bottom: 20px;
}

.list-item a{
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.list-item::marker {
  color: #3f2aff;
}

.image {
  margin-bottom: 40px;
}

.card {
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}

.card figcaption {
  border: 1px solid #b6b6b6;
  border-top: none;
  padding-top: 19px;
  padding-bottom: 19px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}


.modules-container {
  margin: 0 auto;
  padding: 50px 0;
  width: 1170px;
}

.logo-dark {
  margin-bottom: 25px;
  width: 137px;
  height: 30px;
}

.link-on-main-page {
  display: block;
  margin-bottom: 25px;
  padding-left: 60px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #3F2AFF;
  background-image: url("../img/arrow.svg");
  background-position: left center;
  background-size: 50px 23px;
  background-repeat: no-repeat;
}

.modules-head-1 {
  margin-bottom: 50px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #3F2AFF;
}

.modules-cards {
  margin-bottom: 50px;
  padding: 0;
  font-size: 0;
  list-style-type: none;
}

.modules-card {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 572px;
  min-height: 505px;

  box-shadow: 0px 0px 40px;
}

.modules-card:nth-child(2n) {
  margin-right: 0;
}

.modules-card:nth-child(3n) {
  margin-bottom: 0;
}

.modules-card:last-child {
  margin-bottom: 0;
}

.card-image {
  margin-bottom: 25px;
  width: 100%;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-1 {
  background-image: url('../img/modules-1.jpg');
}

.image-2 {
  background-image: url('../img/modules-2.jpg');
}

.image-3 {
  background-image: url('../img/modules-3.jpg');
}

.image-4 {
  background-image: url('../img/modules-4.jpg');
}

.card-text {
  margin: 25px;
  margin-top: 0;
}

.modules-head-2 {
  margin-bottom: 2px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #3F2AFF;
}

.modules-list {
  padding: 0;
  list-style-type: none;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
  color: #333333;
}

.card-item {
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #EAEAEA;
}

.button-show-more {
  display: block;
  margin: 0 auto;
  padding: 25px 75px;
  width: 278px;
  height: 74px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #3F2AFF;
  border: 2px solid #3F2AFF;
  background-color: #fff;
  cursor: pointer;
}
